.body_phrases {
    width: 100%;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 10px;
    text-align: center;
    color: #00cc99; 
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: 400; 
}
